<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker3.min.css') }}" />
            <style>
                #easyPaginate {width:300px;}
                #easyPaginate img {display:block;margin-bottom:10px;}
                .easyPaginateNav a {padding:5px;}
                .easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/functions.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datepicker.es.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.easyPaginate.js') }}"></script>

            <script>
                $('#easyPaginate').easyPaginate({
                    paginateElement: 'td',
                    elementsPerPage: 3,
                    effect: 'climb'
                });
            </script>
        {% endblock %}
    </body>
</html>
